

.siteHeader {
    font-family: 'Limelight', cursive;
    background-image: url(/assets/images/header1.jpg);
}

.poster {
    margin: 0 auto;
    width: 280px;
    
}

.description  {
    margin: 1rem;
    padding: 1rem;
}



/* .description span {
    color: rgb(18, 219, 18); 
} */


.trailer button {
    margin:  1rem auto;
    width: 30%;
    
}

.trailer a {
    display: block;
}